@import "../../styles/_vars.scss";

.marketplacePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marketplacePage__calculator {
    position: relative;
    height: 850px;
    margin-bottom: 89px;
}
.marketplacePage__calculator:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7;
    z-index: 0;
}
.marketplacePage__calculatorInner {
    z-index: 100;
    margin-top: 120px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1180px) {
    .marketplacePage__calculator {
        height: 580px;
        margin-bottom: 152px;
    }
    .marketplacePage__calculatorInner {
        margin-top: 61px;
        margin-bottom: 61px;
    }
}

@media screen and (max-width: 834px),
    screen and (orientation: landscape) and (max-width: 834px) and (max-height: 500px) {
    .marketplacePage__calculator {
        height: 780px;
        margin-bottom: 89px;
    }
}

@media screen and (max-width: 524px),
    screen and (orientation: landscape) and (max-width: 524px) and (max-height: 500px) {
    .marketplacePage__calculator {
        height: calc(780px + 44px);
    }
}

@media screen and (max-width: 480px) {
    .marketplacePage__calculator {
        height: 568px;
        margin-bottom: 30px;
    }
    .marketplacePage__calculatorInner {
        margin-top: 62px;
        margin-bottom: 46px;
    }
}

@media screen and (orientation: landscape) and (min-width: 834px) and (max-height: 500px) {
    .marketplacePage__calculator {
        height: 580px;
        margin-bottom: 89px;
    }
    .marketplacePage__calculatorInner {
        margin-top: 61px;
        margin-bottom: 61px;
    }
}
