@import "../../styles/_vars.scss";

.buttonCalculateModal {
    width: 320px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    padding: 14px 0;
    overflow: hidden;
}

.buttonCalculateModal__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: transparent;
    transition: transform 300ms ease;
}

.buttonCalculateModal__innerActive {
    transform: translateX(100%);
}

.buttonCalculateModal__arrowWrapper {
    display: flex;
    align-items: center;
    width: 0;
    height: 12px;
    overflow: hidden;
    margin-left: 8px;
    transition: width 0.1s ease-in-out;
}

.buttonCalculateModal:hover .buttonCalculateModal__arrowWrapper,
.buttonCalculateModal_focus .buttonCalculateModal__arrowWrapper {
    width: 20px;
    margin-left: 8px;
}

.buttonCalculateModal__arrow {
    width: 20px;
}

// for market page
.buttonCalculateModal_market {
    width: 440px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 20.5px 0;

    .buttonCalculateModal:hover .buttonCalculateModal__arrowWrapper,
    .buttonCalculateModal_focus .buttonCalculateModal__arrowWrapper {
        width: 15px;
        margin-left: 10px;
    }

    .buttonCalculateModal__arrow {
        width: 15px;
    }
}

@media screen and (max-width: $tablet) {
    .buttonCalculateModal {
        width: 260px;
        height: 45px;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        padding: 13px 0;
    }

    .buttonCalculateModal__arrowWrapper {
        width: 0;
        height: 8px;
        overflow: hidden;
        margin-left: 0;
    }
    .buttonCalculateModal:hover .buttonCalculateModal__arrowWrapper,
    .buttonCalculateModal_focus .buttonCalculateModal__arrowWrapper {
        width: 0;
        overflow: hidden;
        margin-left: 0;
    }
    .buttonCalculateModal .buttonCalculateModal__innerActive .buttonCalculateModal__arrowWrapper {
        width: 12px;
        overflow: visible;
        margin-left: 5px;
    }
    .buttonCalculateModal__arrow {
        width: 12px;
    }
}

@media screen and (max-width: $smallTablet), screen and (orientation: landscape) and (max-height: 500px) {
    .buttonCalculateModal {
        width: 220px;
        height: 40px;
        font-size: 10px;
        font-weight: 700;
        line-height: 14px;
        padding: 13px 0;
    }
}

// for market page
@media screen and (max-width: 1180px), screen and (orientation: landscape) and (max-height: 500px) {
    .buttonCalculateModal_market {
        width: 300px;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        padding: 14px 0;

        .buttonCalculateModal:hover .buttonCalculateModal__arrowWrapper,
        .buttonCalculateModal_focus .buttonCalculateModal__arrowWrapper {
            width: 15px;
            margin-left: 5px;
        }

        .buttonCalculateModal__arrow {
            width: 15px;
        }
    }
}

@media screen and (max-width: 480px) {
    .buttonCalculateModal_market {
        width: 220px;
        height: 40px;
        font-size: 10px;
        font-weight: 700;
        line-height: 14px;
        padding: 13px 0;

        .buttonCalculateModal:hover .buttonCalculateModal__arrowWrapper,
        .buttonCalculateModal_focus .buttonCalculateModal__arrowWrapper {
            width: 10px;
            margin-left: 5px;
        }

        .buttonCalculateModal__arrow {
            width: 10px;
        }
    }
}

@media screen and (max-width: 320px) {
    .buttonCalculateModal_market {
        width: 180px;
    }
}
