@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-Light.woff2") format("woff2"),
        url("../assets/fonts/OpenSans/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
        url("../assets/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-Medium.woff2") format("woff2"),
        url("../assets/fonts/OpenSans/OpenSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
        url("../assets/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
        url("../assets/fonts/OpenSans/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"),
        url("../assets/fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"),
        url("../assets/fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-Thin.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-ExtraLight.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-Light.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-Regular.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-Medium.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-SemiBold.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-Bold.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-ExtraBold.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Public Sans";
    src: url("../assets/fonts/PublicSans/PublicSans-Black.woff2") format("woff2"),
        url("../assets/fonts/PublicSans/PublicSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
