/* Breakpoints */
$smallMobile: 330px;
$mobile: 480px;
$smallTablet: 620px;
$tablet: 959px;
$desktop: 1199px;

$landscape: 1050px;
$landscapeMiddle: 668px;
$landscapeSmall: 500px;
$landscapeMaxHeight: 590px;

/* Colors */
$bgColor: #ffffff;
$bgColor_dark: #000000;
$accentColor: #ff7a00;
$textColor: #ffffff;
$textColor_dark: #000000;

/* Fonts */
$generalFont: "Open Sans";
$extraFont: "Public Sans";
