@import "../../styles/_vars.scss";

.faqItem {
    .faqItem__question {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 5%;
        .faqItem__question__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 33px;
        }
        .faqItem__question__btn {
            display: grid;
            height: 20px;
            width: 35px;
            align-self: center;
            margin-left: 10px;
            img {
                height: 20px;
            }
        }
    }
    .faqItem__question_smaller {
        margin-bottom: 10px;
    }
    .faqItem__answer {
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        padding-bottom: 15px;
        padding-right: 10%;

        div,
        ol > li {
            margin-bottom: 10px;
        }
        ol > li:last-child {
            margin-bottom: 0px !important;
        }

        ol,
        ul {
            list-style-position: inside;
        }
        ul {
            li {
                list-style: none;
            }
            li:before {
                content: "·";
                font-size: 40px;
                vertical-align: bottom;
                padding: 0px 10px;
            }
        }
    }
}

.faqItem__answerLastopen {
    border-bottom: 0px !important;
}

.faqItem__question,
.faqItem__question__btn {
    &:hover {
        cursor: pointer;
    }
}

.faqItem__answerLine {
    border-bottom: 3px solid #b6b6b6;
    transition: height 0.4s ease;
}

.faqItem__answerTransition {
    opacity: 0;
}
.faqItem__answerTransition.in.visible {
    opacity: 1;
    transition: all 0.6s ease;
}

@media screen and (max-width: $tablet) {
    // up to 959px
    .faqItem {
        .faqItem__answerLine {
            border-bottom: 3px solid #b6b6b6;
        }
        .faqItem__question {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-right: 3%;
            .faqItem__question__title {
                font-size: 17px;
                font-weight: 700;
                line-height: 23px;
            }
            .faqItem__question__btn {
                height: 15px;
                width: 26px;
                img {
                    height: 15px;
                }
            }
        }
        .faqItem__question_smaller {
            margin-bottom: 10px;
        }
        .faqItem__answer {
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            padding-bottom: 15px;
            padding-right: 5%;

            div,
            ol > li {
                margin-bottom: 7px;
            }
            ol,
            ul {
                list-style-position: inside;
            }
            ul {
                li {
                    list-style: none;
                }
                li:before {
                    content: "·";
                    font-size: 35px;
                    vertical-align: bottom;
                    padding: 0px 10px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    // up to 480px
    .faqItem {
        .faqItem__answerLine {
            border-bottom: 2px solid #b6b6b6;
        }
        .faqItem__question {
            margin-top: 13px;
            margin-bottom: 13px;
            padding-right: 3%;
            .faqItem__question__title {
                font-size: 10px;
                font-weight: 700;
                line-height: 14px;
            }
            .faqItem__question__btn {
                height: 10px;
                width: 17px;
                img {
                    height: 10px;
                }
            }
        }
        .faqItem__question_smaller {
            margin-bottom: 10px;
        }
        .faqItem__answer {
            font-size: 9px;
            font-weight: 400;
            line-height: 12px;
            padding-bottom: 13px;
            padding-right: 0px;

            div,
            ol > li {
                margin-bottom: 0px;
            }
            ul {
                list-style-position: outside;
                padding-inline-start: 20px;
                li {
                    list-style: disc;
                }
                li:before {
                    content: none;
                }
            }
        }
    }
}
