@import "../../styles/_vars.scss";

.fiveSteps__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.fiveSteps__header,
.fiveSteps__number {
    font-size: 48px;
    font-weight: 800;
    line-height: 65.37px;
    text-align: center;
    margin-bottom: 95px;
}

.fiveSteps__clearfix_tablet,
.fiveSteps__clearfix_mob {
    display: none;
    width: 100%;
    height: 0;
}

.fiveSteps__steps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.fiveSteps__buttons {
    display: flex;
    margin-bottom: 100px;
}

.fiveSteps__buttonCalc {
    margin-left: 10px;
}

@media screen and (max-width: 1150px) {
    .fiveSteps__clearfix_tablet {
        display: block;
    }
    .fiveSteps__steps {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 959px) {
    .fiveSteps__inner {
        margin-top: 100px;
    }
    .fiveSteps__header {
        max-width: 657px;
        font-size: 40px;
        line-height: 41.87px;
        margin-bottom: 153px;
    }
    .fiveSteps__steps {
        margin-bottom: 98px;
    }
    .fiveSteps__number {
        font-size: 64px;
        line-height: 67px;
        margin: 0 3px;
    }
    .fiveSteps__buttons {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 823px) {
    .fiveSteps__clearfix_mob {
        display: block;
    }
    .fiveSteps__clearfix_tablet {
        display: none;
    }

    .fiveSteps__steps:after {
        content: "";
        height: 1px;
        min-width: 237px;
    }
}

@media screen and (max-width: $smallTablet) {
    .fiveSteps__inner {
        margin-top: 70px;
    }

    .fiveSteps__steps {
        margin-bottom: 0;

        &:after {
            content: "";
            height: 1px;
            min-width: 151px;
        }
    }

    .fiveSteps__header {
        max-width: 423px;
        font-size: 28px;
        line-height: 29.87px;
        margin-bottom: 50px;
    }

    .fiveSteps__number {
        font-size: 37px;
        line-height: 37px;
    }

    .fiveSteps__buttons {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .fiveSteps__buttonCalc {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media screen and (max-width: $mobile) {
    .fiveSteps__inner {
        margin-top: 40px;
    }

    .fiveSteps__header {
        max-width: 273px;
        font-size: 16px;
        line-height: 16.75px;
        margin-bottom: 56px;
    }

    .fiveSteps__number {
        font-size: 22px;
        line-height: 23.03px;
        margin: 0 3px;
    }

    .fiveSteps__buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .fiveSteps__buttonCalc {
        margin-top: 0;
        margin-left: 15px;
    }
}

@media screen and (max-width: 319px) {
    .fiveSteps__steps {
        margin-bottom: 0;

        &:after {
            content: "";
            height: 1px;
            min-width: 120px;
        }
    }

    .fiveSteps__buttons {
        display: flex;
        flex-direction: column;
    }

    .fiveSteps__buttonCalc {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 590px) {
    .fiveSteps__inner {
        margin-top: 50px;
    }
    .fiveSteps__header,
    .fiveSteps__number {
        margin-bottom: 40px;
    }
    .fiveSteps__steps {
        margin-bottom: 45px;
    }

    .fiveSteps__buttons {
        margin-bottom: 50px;
    }
}
