@import "../../styles/_vars.scss";

.personalContact__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto; // 500px;
    margin-bottom: 170px;

    .personalContact__chat {
        width: 50%;
        padding-left: 70px;

        display: flex;
        flex-direction: column;

        .personalContact__chat__manager_img {
            width: 110px;
            border: 5px solid $accentColor;
            border-radius: 50%;
            position: relative;
            top: 69px;
            left: -85px;
        }
        .personalContact__chat__client_img {
            width: 110px;
            border: 5px solid #d9d9d9;
            border-radius: 50%;
            position: relative;
            top: -26px;
            left: 60px;
            align-self: flex-end;
        }
        .personalContact__chat__manager__first,
        .personalContact__chat__manager__second {
            box-shadow: 0px 0px 4px 3px rgba(255, 122, 0, 0.3);
            margin-bottom: 15px;
        }
        .personalContact__chat__manager__first {
            width: 80%;
            max-width: 390px;
        }
        .personalContact__chat__manager__second {
            width: 70%;
            max-width: 315px;
        }
        .personalContact__chat__client {
            box-shadow: 0px 0px 4px 3px rgba(159, 159, 159, 0.3);
            width: 70%;
            max-width: 315px;
            margin-top: 45px;
            text-align: center;
            align-self: flex-end;
        }
    }
    .personalContact__chat > div {
        padding: 20px 33px;
        border-radius: 20px;
        background: $bgColor;

        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
    }

    .personalContact__info {
        width: 40%;
        .personalContact__info__subtitle {
            margin-top: 30px;
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
        }
    }
}

@media screen and (max-width: $tablet) {
    //959px;
    .personalContact__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 110px;
        .personalContact__chat {
            width: 45%;
            padding-left: 20px;
            margin-bottom: 0px;
            .personalContact__chat__manager_img {
                width: 64px;
                border: 3px solid $accentColor;
                position: relative;
                top: 0px;
                left: -38px;
                margin-bottom: 3px;
            }
            .personalContact__chat__client_img {
                width: 64px;
                border: 3px solid #d9d9d9;
                position: relative;
                top: 0px;
                left: 38px;
                margin-top: 3px;
            }
            .personalContact__chat__manager__first,
            .personalContact__chat__manager__second {
                box-shadow: 0px 0px 4px 3px rgba(255, 122, 0, 0.3);
                margin-bottom: 15px;
            }
            .personalContact__chat__manager__first {
                width: 90%;
                max-width: 260px;
            }
            .personalContact__chat__manager__second {
                width: 90%;
                max-width: 260px;
            }
            .personalContact__chat__client {
                box-shadow: 0px 0px 4px 3px rgba(159, 159, 159, 0.3);
                width: 80%;
                max-width: 240px;
                margin-top: 45px;
            }
        }
        .personalContact__chat > div {
            padding: 12px 20px;
            border-radius: 10px;

            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
        }

        .personalContact__info {
            width: 45%;
            text-align: end;
            .personalContact__info__subtitle {
                margin-top: 25px;
                margin-bottom: 20px;
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: $tablet) {
    .personalContact__info {
        h1 {
            font-size: 30px;
            font-weight: 800;
            line-height: 41px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .personalContact__info {
        .personalContact__info__subtitle {
            font-size: 13px !important;
            font-weight: 700 !important;
            line-height: 18px !important;
        }
    }
}

@media screen and (max-width: 720px) {
    //620px;
    .personalContact__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 45px;
        .personalContact__chat {
            width: 80%;
            max-width: 320px;
            padding-left: 0px;
            margin-bottom: 7px;
            .personalContact__chat__manager_img {
                width: 36px;
                border: 2px solid $accentColor;
                position: relative;
                top: 0px;
                left: -38px;
                margin-bottom: 3px;
            }
            .personalContact__chat__client_img {
                width: 36px;
                border: 2px solid #d9d9d9;
                position: relative;
                top: 0px;
                left: 38px;
                margin-top: 3px;
            }
            .personalContact__chat__manager__first,
            .personalContact__chat__manager__second {
                box-shadow: 0px 0px 2px 3px rgba(255, 122, 0, 0.3);
                margin-bottom: 15px;
            }
            .personalContact__chat__manager__first {
                width: 90%;
                max-width: 185px;
            }
            .personalContact__chat__manager__second {
                width: 90%;
                max-width: 185px;
            }
            .personalContact__chat__client {
                box-shadow: 0px 0px 2px 3px rgba(159, 159, 159, 0.3);
                width: 80%;
                max-width: 165px;
                margin-top: 0px;
            }
        }
        .personalContact__chat > div {
            padding: 6px 7px;
            border-radius: 10px;

            font-size: 10px;
            font-weight: 700;
            line-height: 14px;
        }

        .personalContact__info {
            width: 100%;
            text-align: center;
            .personalContact__info__subtitle {
                margin-top: 3px;
                margin-bottom: 20px;
                font-size: 10px;
                font-weight: 700;
                line-height: 14px;
            }
        }
    }
}
